/* Css reset  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Generics  */

body {
    height: 100vh;

    background: linear-gradient(
        to bottom,
        #009688, 10%,
        #009688, 10%,
        #DADBD4,
        #DADBD4
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utils  */

.chat-preview {
    border-bottom: 0.25px solid #EAEAEA;
    cursor: pointer;
    transition: background-color 0.25s;
}

.chat-preview:hover {
    background-color: #EAEAEA;
}

.chat-userName {
    padding-left: 10px;
    font-size: 18px;
}

.sent {
    background-color: #D5F9BA;
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
}


.received {
    background-color: #FFFF;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    
}

.date {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.remove-button {
    font-size: 10px;
}

/* Root  */


#root {
    background-color: #fff;
    height: 95%;
    width: 75%;
    padding: 0;
    position: relative;
    overflow-y: hidden;
}

/* SIdenav generics */

.sidenav {
    height: 100%;
    width: 40%;
    background-color: #fff;
    position: relative;

    border-right: 0.5px solid lightslategray;
}

.sidenav img, #user-info img {
    height: 75px;
    border-radius: 50%;
}

.my-user-icons > *, #header-right-icons > * {
    font-size: 25px;
    color: #B1B1B1;
    padding: 0 5px;
    cursor: pointer;
}

.main {
    width: 100%;
    background-image: url(../img/mine.jpg);
    background-position: center;
}

/* Sidebar sections  */

.avatar-wrapper {
    background-color: #EAEAEA;
    height: 90px;
}

.notifications {
    background-color: #8EDAFC;
    height: 90px;
}

#notifications-icon {
    background-color: #EAEAEA;
    color: #8EDAFC;
    font-size: 25px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

#chat-avatars {
    height: calc(100% - 180px);
    overflow-y: auto;
}


/* Headers */
  
#header-left {
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#header-right {
    background-color: #EAEAEA;
 
    height: 90px;

}

main {
    height: calc(100% - 180px);
    overflow-y: auto;
}

footer {
    background-color: #EAEAEA;
 
    text-align: center;
    height: 90px;
}

footer i {
    font-size: 25px;
    color: lightslategray; 
    cursor: pointer;
}