* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;

    background: linear-gradient(
        to bottom,
        #009688, 15%,
        #009688, 15%,
        #DADBD4,
        #DADBD4
    );

    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    background-color: #fff;
    height: 90%;
    width: 75%;
    padding: 0;
    position: relative;
}

.sidenav {
    height: 100%;
    width: 40%;
    background-color: #fff;
    position: relative;
}

.sidenav p {
    height: calc(100% - 90px);
    overflow-y: auto;
}

.sidenav img {
    height: 75px;
    border-radius: 50%;
}

.my-user-icons > * {
    font-size: 25px;
    color: #B1B1B1;
    padding: 0 5px;
    cursor: pointer;
}

.main {
    width: 100%;
}

/* Headers */
  
#header-left {
    background-color: #EAEAEA;
 
    height: 90px;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

#header-right {
    background-color: #EAEAEA;
 
    border: 1px solid black;
    height: 75px;

}

main {
    height: calc(100% - 150px);
    overflow-y: auto;
}

footer {
    background-color: #EAEAEA;
 
    border: 1px solid black;
    height: 75px;
}