<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoolzApp</title>

    <!-- FontAwesome  -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous'/>

    <!-- Vue  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    
    <!-- Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <!-- Style  -->
    <link rel="stylesheet" href="css/style.css">
    
    <!-- Script  -->
    <script defer src="js/script.js"></script>
</head>
<body>
        <div id="root" class="container-fluid d-flex">
            <!-- Parte dedicata alla ricerca delle chat e le anteprime -->
            <div class="sidenav">
                <header id="header-left" class="pb-2">

                  <!-- Qui metto tutto cià che riguarda il MIO profilo    -->
                  <section class="avatar-wrapper d-flex align-items-center justify-content-between px-3 py-2">
                    <div class="my-user">
                        <img :src="'img/avatar' + user.avatar + '.jpg'" alt="" class="img-fluid">
                        <span class="ps-2 fw-bold"> {{user.name}} </span>
                    </div>

                    <div class="my-user-icons">
                        <i class="fa-solid fa-circle-notch"></i>
                        <i class="fa-solid fa-message"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                  </section>  
                    
                  <!-- Qui metto la sezione dedicata alle notifiche  -->
                  <section class="notifications d-flex align-items-center px-3 py-2">
                    <i class="fa-solid fa-bell-slash" id="notifications-icon"></i>
                    <div class="notifications-text ps-3 lh-1">
                        <div class="fw-bold">Ricevi notifiche di nuovi messaggi</div>
                        <sub role="button" class="text-decoration-underline text-secondary">Attiva notifiche desktop</sub>
                    </div>
                  </section>

                  <!-- Qui metto la sezione dedicata alla ricerca della chat  -->
                  <section class="input-group flex-nowrap my-2 px-2">
                    <input v-model.trim="searchChat" type="text" class="form-control" placeholder="Cerca o inizia una nuova chat" aria-label="Username">
                  </section>
                </header>
                <!-- Qui metto la sezione dedicata agli avatar e il name delle chat  -->
                <section  id="chat-avatars" class="px-3">
                    <div v-for="(contact, i) in filteredChat" class="chat-preview py-1" @click="setCurrentIndex(contact.id)">
                        <divc class="d-flex">
                            <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                            <div class="chat-userName py-2"> {{contact.name}} </div>
                            
                        </divc>          
                    </div>       
                </section>         
            </div>

            <!-- Parte centrale ove ci saranno le vere e proprie chat  -->
            <div class="main">

                <!-- Heder della chat  -->
                <header id="header-right" class="px-3 py-2">
                    <div id="user-info" class="d-flex align-items-center justify-content-between">
                        <div class="last-access d-flex align-items-center">
                            <img :src="`img/avatar${contacts[currentIndex].avatar}.jpg`" alt="" class="img-fluid">
                            <div class="ps-2">
                                <div>{{contacts[currentIndex].name}}</div>
                                <div class="fw-light">Ultimo accesso oggi alle:</div>
                            </div>
                        </div>

                        <div id="header-right-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>

                    </div>
                </header>

                <!-- Chat intera con i messagi spediti e ricevuti  -->
                <main class="px-3 py-3">
                    <div v-for="(message, i) in contacts[currentIndex].messages" class="row px-5 py-1 d-flex flex-column" id="test">
                        <div  v-show="message.status === 'sent'" class="offset-9 col-3 sent">
                            {{message.text}}

                            <div class="message-bottom">
                                <button class="btn btn-danger mx-2 remove-button" @click="removeMessage(i)"><i class="fa-solid fa-trash-arrow-up fa-lg"></i></button>
                                <sub class="fw-light">
                                    {{message.date}}
                                </sub>
                            </div>

                        </div>
                        

                        <div v-show="message.status === 'received'" class="col-3 received">
                            {{message.text}}
                            <div class="message-bottom">
                                <button class="btn btn-danger mx-2 remove-button" @click="removeMessage(i)"><i class="fa-solid fa-trash-arrow-up fa-lg"></i></button>
                                <sub class="fw-light">
                                    {{message.date}}
                                </sub>
                            </div>
                        </div>
                        
                    </div>
                </main>

                <!-- Parte in cui posso inviare i messaggi  -->
                <footer class="px-3">
                    <div class="row h-100 d-flex align-items-center">   

                        <div class="col-1">
                            <i class="fa-regular fa-face-smile"></i>
                        </div>

                        <div class="col-10 h-100 d-flex align-items-center">
                            <input v-model="newMessage.text" type="text" class="form-control h-75" placeholder="Scrivi un messaggio" aria-label="Username" @keyup.enter="sendAMessage">
                        </div>

                        <div class="col-1">
                            <i class="fa-solid fa-microphone"></i>
                        </div>
                    </div>
                </footer>


            </div>
        </div>

</body>
</html>